.main-footer{
	background-color: #000000;
	width: 100%;
	bottom: 0px;
	left:0px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 25px;
	

}
.footer-logo{
	font-size: 20px;
	padding-top:30px;

}
.footer-logo-img{
	font-size: 20px;
	color: #ffffff;
	padding-left: 30px;
	padding-bottom: 5px;
	text-decoration: none;

}
p{
	font-size: 15px;
	color: #fff;
	padding-left: 30px

}

.footer-link{
	text-decoration: none;
	color: #ffffff;
	display: block;
	padding: 5px;

}
.foot-link{
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	padding: 5px;

}
.footer-link-gp{
	padding:40px;

}
.copy-right{
	color: #fff;
	background-color: #000;
	justify-content: center;
	text-align: center;
}
